body {
  background: #000;
  margin: 0;
}

#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
  object-fit: cover;
}

.sidemenu-container {
  position: absolute;
  width: 10rem;
  z-index: 99;
  top: 3rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}


.menu {
  display: flex;
  gap: 0.5rem;
  color: #fff;
  border: none;
  align-items: center;
  cursor: pointer;
  transition: border 2s ease;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0.75rem;
  backdrop-filter: blur(2px);
  padding: 0rem 1rem;
  width: 10rem;
}

.menu:hover,
.active-menu {
  background: rgba(255, 255, 255, 0.15);
  border-color: #fff;
}

.menu img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}


.carousal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  height: 100vh;
  padding: 0rem 0;
}

.carousal {
  position: relative;
  flex: 0 0 auto;
  height: 18rem;
  scroll-snap-align: center;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0.5;
  transform: scale(0.85);
  cursor: pointer;
  margin: 2.5rem 0;
  transition: 2s ease;
  padding: 1rem 7rem;
}

.carousal:nth-child(3) {
  padding: 1rem 12rem;
}

.carousal:nth-child(4),
.carousal:nth-child(6) {
  padding: 1rem 18rem;
}

.carousal-container .carousal:nth-child(8) {
  width: 35rem;
  height: 20rem;
}

.carousal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousal.active {
  opacity: 1;
  transition: 2s ease;
  transform: scale(1.3);
}

.image-content {
  position: absolute;
  bottom: 12rem;
  left: 15rem;
  color: #fff;
  padding: 0.5rem 0rem;
  border-radius: 0.5rem;
}

.image-content h2 {
  margin: 0;
  background: transparent;
}

.image-content p {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.carousal:nth-child(3) .image-content {
  left: 4rem;
}

.carousal:nth-child(2) .image-content {
  left: 14rem;
}

.carousal:nth-child(6) .image-content {
  left: 11rem;
}

.carousal:nth-child(4) .image-content {
  left: 7rem;
}

.carousal:nth-child(8) .image-content {
  left: 4rem;
}

.image-content p {
  width: 13rem;
  position: absolute;
  color: #a1a1a1;
  transform: translateY(2rem);
  opacity: 0;
  transition: transform 2s ease, opacity 1s ease;
}

.carousal.active .image-content p {
  transform: translateY(0);
  opacity: 1;
}

.carousal:nth-child(1) .image-content {
  left: auto;
  right: 14rem;
}

.carousal:nth-child(3) .image-content,
.carousal:nth-child(5) .image-content {
  left: auto;
  right: 16rem;
}

.carousal:nth-child(7) .image-content {
  left: auto;
  right: 13rem;
}

.carousal.active .image-content p {
  transform: translateY(0);
  opacity: 1;
}